{% block swag_customized_products_option_type_template_textarea %}
    <div class="swag-customized-products__type-textarea">

        {% set inConfigurationExtension = configurationExtension.configuration[option.id] %}
        {% set clearInputConfig = {
            clearButtonSelector: '#clear-textarea-' ~ option.id
        } %}

        {% block swag_customized_products_option_type_template_textarea_input %}
            {% apply spaceless %}
                <textarea
                    id="swag-customized-products-option-id-{{ option.id }}"
                    name="{{ constant('Swag\\CustomizedProducts\\Storefront\\Controller\\CustomizedProductsCartController::CUSTOMIZED_PRODUCTS_TEMPLATE_REQUEST_PARAMETER') }}[options][{{ option.id }}][value]"
                    class="form-control swag-customized-products-form-control"
                    placeholder="{{ props.placeholder }}"
                    minlength="{{ props.minLength }}"
                    maxlength="{{ props.maxLength }}"
                    {# ToDo CUS-23 - Remove `if` clause when core version >6.3.0.0 is released #}
                    {% if false %}
                    data-clear-input="false"
                    data-clear-input-options="{{ clearInputConfig|json_encode }}"
                    {% endif %}
                    {{ option.required ? 'required' : '' }}
                >{% if inConfigurationExtension %}{{ inConfigurationExtension.value }}{% endif %}</textarea>
            {% endapply %}
        {% endblock %}

        {% block swag_customized_products_option_type_template_textarea_clear %}
            {# ToDo CUS-23 - Remove `if` clause when core version >6.3.0.0 is released #}
            {% if false %}
            <div class="w-100 text-right swag-customized-products__type-textarea-clear">

                {% block swag_customized_products_option_type_template_textarea_clear_anchor %}
                    <button type="button"
                            id="clear-textarea-{{ option.id }}"
                            tabindex="-1"
                            class="swag-customized-products__type-textarea-clear-button">
                        {{ "customizedProducts.optionTypes.textareaClearButton"|trans }}
                    </button>
                {% endblock %}
            </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
