{% block swag_customized_products_option_type_template_htmleditor %}
    <div class="input-group">

        {% set translations = {
            bold: "customizedProducts.editor.bold"|trans,
            italic: "customizedProducts.editor.italic"|trans,
            strikeThrough: "customizedProducts.editor.strikeThrough"|trans,
            underline: "customizedProducts.editor.underline"|trans,
            textFormatting: "customizedProducts.editor.textFormatting"|trans
        } %}

        {% block swag_customized_products_option_type_template_htmleditor_input_component %}
            <textarea
                id="swag-customized-products-option-id-{{ option.id }}"
                name="{{ constant('Swag\\CustomizedProducts\\Storefront\\Controller\\CustomizedProductsCartController::CUSTOMIZED_PRODUCTS_TEMPLATE_REQUEST_PARAMETER') }}[options][{{ option.id }}][value]"
                class="form-control swag-customized-products-form-control swag-customized-products-options-html-editor"
                autocomplete="off"
                placeholder="{{ props.placeholder }}"
                data-swag-customized-products-html-editor="true"
                data-swag-customized-products-html-editor-options="{{ editorProperties }}"
                data-swag-customized-products-html-editor-translations="{{ translations | json_encode }}"
                {{ option.required ? 'required' : '' }}
            >{% if configurationExtension.configuration[option.id] %}{{ configurationExtension.configuration[option.id].value }}{% endif %}</textarea>

            <div class="swag-customized-products-options-html-editor-icons">
                {% sw_icon 'editor-bold' style { 'size': 's' } %}
                {% sw_icon 'editor-italic' style { 'size': 's' } %}
                {% sw_icon 'editor-strikethrough' style { 'size': 's' } %}
                {% sw_icon 'editor-underline' style { 'size': 's' } %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
