{% block swag_customized_products_option_type_template_datepicker %}
    {% set inConfigurationExtension = configurationExtension.configuration[option.id] %}

    <div class="input-group swag-customized-products-options-datetime-wrapper">

        {% block swag_customized_products_option_type_template_datepicker_input_component %}
            <input
                type="text"
                id="swag-customized-products-option-id-{{ option.id }}"
                name="{{ constant('Swag\\CustomizedProducts\\Storefront\\Controller\\CustomizedProductsCartController::CUSTOMIZED_PRODUCTS_TEMPLATE_REQUEST_PARAMETER') }}[options][{{ option.id }}][value]"
                form="productDetailPageBuyProductForm"
                class="form-control swag-customized-products-form-control swag-customized-products-options-datetime"
                autocomplete="off"
                placeholder="{{ props.placeholder }}"
                data-date-picker="true"
                data-date-picker-options="{{ pickerProperties }}"
                {% if inConfigurationExtension %}
                    value="{{ inConfigurationExtension.value }}"
                {% endif %}
                {{ option.required ? 'required' : '' }}>
        {% endblock %}

        {% block swag_customized_products_option_type_template_datepicker_input_clear %}
            {# ToDo CUS-23 - Remove `if` clause when core version >6.3.0.0 is released #}
            {% if false %}
            <button type="button"
                    id="clear-button-option-id-{{ option.id }}"
                    tabindex="-1"
                    class="swag-customized-products-date-picker-button date-picker-clear input-group-append px-2 pb-2 mr-5"
                    disabled>
                {% sw_icon 'x' style { 'size': 'xs' } %}
            </button>
            {% endif %}
        {% endblock %}

        {% block swag_customized_products_option_type_template_datepicker_input_suffix %}
            <button type="button"
                    id="open-button-option-id-{{ option.id }}"
                    tabindex="-1"
                    class="swag-customized-products-date-picker-button date-picker-open input-group-append px-2 pb-2">
                {% if type == 'time' %}
                    {% sw_icon 'clock' %}
                {% else %}
                    {% sw_icon 'calendar' %}
                {% endif %}
            </button>
        {% endblock %}
    </div>
{% endblock %}
