{% if page.header.languages.count > 1 %}
    <div class="component-header-language-select">
        <form method="post"
              action="{{ path('frontend.checkout.switch-language') }}"
              class="language-form"
              data-form-auto-submit="true">

            {{ sw_csrf('frontend.checkout.switch-language') }}

            <select name="languageId" class="form-control language-select">
                {% for language in  page.header.languages %}
                    {% set isoCode = language.translationCode.code|lower|split('-') %}
                    {% set flagCountry = isoCode[0] %}
                    {% set flagLanguage = isoCode[1] %}

                    <option value="{{ language.id }}"
                        {% if language.id is same as(page.header.activeLanguage.id) %} selected="selected"{% endif %}>
                       {{ language.name }}
                    </option>
                {% endfor %}
            </select>

            <i class="icon icon-chevron-down">
                <svg class="svg-import">
                    <use xlink:href="#icon-chevron-down"/>
                </svg>
            </i>

            <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}"/>

            {% for key, value in app.request.attributes.get('_route_params') %}
                <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
            {% endfor %}
        </form>
    </div>
{% endif %}
